<!DOCTYPE html>
<html>
  <head>
    <title>Zodiac Bedroom </title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body id="firstpage"><div class="container">
    <div class="p1-bg"></div>
    <div class="logo1">Zodiac</div>
    <div class="logo2">Bedroom</div>
    <div class="title">ห้องนอน I แต่งห้องตามสไตล์ 12 ราศี </div>
    <img src="./image/1.jpg" class="pic1" />
    <img src="./image/2.jpg" class="pic2" />
    <img src="./image/3.jpg" class="pic3" />
    <img src="./image/4.jpg" class="pic4" />

    <div class="circle">
      <div class="circle-text">zodiac</div>
    </div>
    <div class="text-box"></div>
    <div class="text-box-inside">
      <div class="text-box-text">Check your zodiac here</div>
      <a class="about-zodiac" href="">about zodiac</a>
    </div>

    <div class="top-bar">
      <a class="top-bar-text" href="">home</a>
      <a class="top-bar-text" href="">about zodiac</a>
      <a class="top-bar-text" href="page2">bedroom design</a>
      <a class="top-bar-text" href="">contact</a>
    </div>

    <a class="bedroom-design" href="page2">bedroom design</a>
    
    <div class="countuser">views <%= count %></div>
  </div></body>
</html>
