<!DOCTYPE html>
<html>
  <head>
    <title>Zodiac Bedroom </title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body id="secondpage"><div class="container">
    <div class="logo1">Zodiac</div>
    <div class="logo2">Bedroom</div>

    <div class="top-bar">
      <a class="top-bar-text" href="index">home</a>
      <a class="top-bar-text" href="">about zodiac</a>
      <a class="top-bar-text" href="">bedroom design</a>
      <a class="top-bar-text" href="">contact</a>
    </div>

    <div class="p2-bg1"></div>
    <div class="p2-bg2"></div>
    <img src="./image/5.jpg" class="pic5" />
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="bedroom-design-page2">Bedroom  Design</div>

    <div class="p2-bg3"></div>

    <img src="./image/Capricorn.jpg" class="img1">
    <div class="textbox-1">
      <div class="textbox-1-1">CAPRICORN
        ราศีมังกร</div>
      <div class="textbox-1-2">       ชาวราศีมังกร คำนิยามของชาวราศีมังกรคือ “สุขุม อดทน และขยัน” อีกทั้ง
        ชาวราศีนี้ยังเป็นคนที่มีระเบียบวินัยสูง วางแผนงานทุกอย่างได้เป็นอย่างดี เป็นขั้นเป็นตอน สีที่เหมาะใน ‘การแต่งห้อง’ จึงควรเป็นโทนสีกลางๆ อย่าง สีเทา สีที่มีความสมบูรณ์แบบ
        อยู่ในตัวของมันเอง สามารถเข้าได้กับการแต่งห้องทุกสไตล์ เท่านั้นยังไม่พอ ชาวราศีมังกรยังมีเซนต์การตกแต่งที่ดี สามารถแต่งห้องให้ออกมาสวยงามได้อย่างไม่มีที่ติ</div>
    </div>
    <div class="border1"></div>

    <img src="./image/Aquarius.jpg" class="img2">
    <div class="textbox-2">
      <div class="textbox-2-1">AQUARIUS
        ราศีกุมภ์</div>
      <div class="textbox-2-2">        ชาวราศีกุมภ์ คุณเป็นคนที่เข้ากับคนง่าย มีความเฟรนด์ลี่ และรักอิสระสูง มักผสมสานความชอบ 
        ไลฟ์สไตล์หลายๆ แนวเข้าด้วยกัน จนกลายเป็นสไตล์ของตัวเอง ที่ไม่มีใครเหมือน และไม่คิดจะเหมือนใคร จึงทำให้ชาวราศีนี้มองเห็นคุณค่าของสิ่งต่างๆ ที่หลายคนมองข้ามไป อย่าง สีส้ม ที่ไม่ค่อยได้รับความนิยม
        ใน ‘การแต่งห้อง’ สักเท่าไร แต่นั่นไม่ใช่สำหรับราศีกุมภ์แน่นอน เพราะสีส้มเนี้ยแหล่ะ ที่เหมาะสำหรับ
        ชาวราศีกุมภ์ได้อย่างไม่น่าเชื่อ</div>
    </div>
    <div class="border2"></div>

    <img src="./image/Pisces.jpg" class="img3">
    <div class="textbox-3">
      <div class="textbox-3-1">PISCES
        ราศีมีน</div>
      <div class="textbox-3-2">       ชาวราศีมีน คำนิยามว่า “จินตนาการ อ่อนไหว และอ่อนโยน” ช่างสอดคล้องกับสัญลักษณ์
        ของชาวราศีมีนจริงๆ เพราะโดยธรรมชาติของชาวราศีมีน จะเป็นคนสงบเสงี่ยม ชื่นชอบการท่องเที่ยว เพื่อมองหาความเงียบสงบที่พบได้ตามธรรมชาติ การใช้ สีน้ำเงิน หรือสีฟ้าคราม ในการแต่งห้อง จึงเป็นการช่วยให้จิตใจของชาวราศีนี้สงบ และช่วยขจัดสิ่งรบกวนจิตใจของคนราศีนี้ได้เป็นอย่างดี</div>
    </div>
    <div class="border3"></div>

    <img src="./image/Aries.jpg" class="img4">
    <div class="textbox-4">
      <div class="textbox-4-1">ARIES
        ราศีเมษ</div>
      <div class="textbox-4-2">       ชาวราศีเมษ เป็นคนมีความมั่นใจ เต็มเปี่ยมไปด้วยพลังและความคิดสร้างสรรค์ 
        ชื่นชอบการผจญภัย ถึงใครจะมองว่า สีชมพู เป็นสีแห่งความอ่อนโยน มีความเป็นเด็ก 
        แต่จริงๆ แล้วมันมีความแข็งแกร่งซ่อนอยู่ เป็นสีที่แสดงออกถึงการเจริญเติบโตที่สมบูรณ์ 
        เพอร์เฟค มีความเป็นตัวของตัวเอง
      </div>
    </div>
    <div class="border4"></div>

    <img src="./image/Taurus.jpg" class="img5">
    <div class="textbox-5">
      <div class="textbox-5-1">TAURUS
        ราศีพฤษภ</div>
      <div class="textbox-5-2">       ชาวราศีพฤษภ มักถูกหลายคนมองว่า คุณเป็นคนที่ดื้อ ปากแข็ง แต่ถึงจะเป็นเช่นนั้น ก็มีความแฟชั่นนิสต้าเหมือนกันนะ เพราะคุณมักชื่นชอบของสวยๆ งามๆ ถูกใจความหรูหรา luxury จึงไม่แปลกที่ สีดำ จะเป็นสีที่เหมาะกับชาวราศีพฤษภ เพราะ สีดำเป็นสีแห่งความกล้าหาญ กล้าได้กล้าเสีย มีความเป็นผู้นำ พอนำไป ‘แต่งห้อง’ จึงให้ความรู้สึก luxury โดดเด่นสะดุดตา
      </div>
    </div>
    <div class="border5"></div>

    <img src="./image/Gemini.jpg" class="img6">
    <div class="textbox-6">
      <div class="textbox-6-1">GEMINI
        ราศีเมถุน</div>
      <div class="textbox-6-2">       ชาวราศีเมถุน ด้วยบุคลิกนิสัยของคนราศีเมถุนส่วนใหญ่จะเป็นคนร่าเริง มีชีวิตชีวา ชอบเข้าสังคม สีที่เหมาะจะใช้ใน ‘การแต่งห้อง’ ของชาวราศีนี้มากที่สุด จึงเป็น สีโทนเหลืองสดใส เพราะเป็นสีโทนกลาง ไม่ร้อนหรือเย็นจนเกินไป มีความสมดุลในการชีวิต เมื่อใช้แต่งห้องแล้ว จะทำให้ห้องของคุณดูมีสีสันขึ้น
      </div>
    </div>
    <div class="border6"></div>

    <img src="./image/Cancer.jpg" class="img7">
    <div class="textbox-7">
      <div class="textbox-7-1">CANCER
        ราศีกรกฎ</div>
      <div class="textbox-7-2">       ชาวราศีกรกฎ ชาวราศีนี้ส่วนใหญ่จะเป็นพวกชอบอยู่ติดบ้าน  ฉะนั้น ‘บ้าน’ จึงเป็น
        สถานที่สำคัญ เป็นที่ๆ คุณอยู่แล้วสบายใจ สีที่ใช้ใน ‘การแต่งห้อง’ จึงควรเป็นสีที่ใช้แล้ว
        สบายใจ สบายตา อย่าง สีฟ้าอ่อน เพราะจะทำให้บรรยากาศภายในห้องดูผ่อนคลาย อบอวล
        ไปด้วยความรู้สึกอบอุ่น และยังช่วยจุดประกายความคิดสร้างสรรคให้เจิดจ้า
      </div>
    </div>
    <div class="border7"></div>

    <img src="./image/Leo.jpg" class="img8">
    <div class="textbox-8">
      <div class="textbox-8-1">LEO
        ราศีสิงห์</div>
      <div class="textbox-8-2">       ชาวราศีสิงห์ ด้วยลักษณะนิสัยของชาวราศีนี้ ที่เป็นคนชอบสร้างแรงบันดาลใจให้กับทุกๆ คน จึงทำให้คนอื่นมักมองว่าคุณเป็นคนที่มีสไตล์เป็นของตัวเองชัดเจน เวลาไปปรากฏตัวที่ไหน
        ก็มักโดดเด่น ได้รับความสนใจจากคนรอบข้าง สีม่วง จึงกลายเป็นสีที่บ่งบอกความเป็นตัวตน
        ได้มากกว่าสีไหนๆ
      </div>
    </div>
    <div class="border8"></div>

    <img src="./image/Virgo.jpg" class="img9">
    <div class="textbox-9">
      <div class="textbox-9-1">VIRGO
        ราศีกันย์</div>
      <div class="textbox-9-2">       ชาวราศีกันย์ คนราศีนี้เป็นคนที่มีความพิถีพิถัน ฉลาด เอียดอ่อนมาก เวลาจะตัดสินใจแต่ละที 
        มักเลือกสิ่งที่ดีที่สุด และสามารถแยกแยะสิ่งต่างๆ ได้อย่างรอบคอบ สีครีม จึงเป็นสีที่ชาวราศีกันย์
        ควรนำไปใช้ใน ‘การตกแต่งห้อง’ เพราะสีครีมเป็นสีที่สามารถแยกออกได้หลากหลายเฉด 
        ทั้งเข้ม กลาง อ่อน แถมคุณยังรู้ด้วยว่า เฉดไหน ถึงจะเป็นเฉดที่เหมาะสำหรับห้องของคุณมากที่สุด
      </div>
    </div>
    <div class="border9"></div>

    <img src="./image/Libra.jpg" class="img10">
    <div class="textbox-10">
      <div class="textbox-10-1">LIBRA
        ราศีตุลย์</div>
      <div class="textbox-10-2">       ชาวราศีตุลย์ คำที่อธิบายตัวตนของคุณได้ดีสุด คงเป็นคำว่า “ดื้อรั้น แต่ยุติธรรม” เพราะถึงคุณจะมีความเชื่อมั่นในตัวเองมากแค่ไหน แต่ในใจลึกๆ คุณยังเป็นคนที่อ่อนไหว และชื่นชอบความสวยงามทุกอย่าง แถมยังเป็นคนมีเป้าหมายในชีวิตชัดเจน เพราะฉะนั้นสีที่จะสร้างความสมดุลให้กับการใช้ชีวิตของคุณ คงหนีไม่พ้น สีเขียว อย่างแน่นอน
      </div>
    </div>
    <div class="border10"></div>

    <img src="./image/Scorpio.jpg" class="img11">
    <div class="textbox-11">
      <div class="textbox-11-1">SCORPIO
        ราศีพิจิก</div>
      <div class="textbox-11-2">       ชาวราศีพิจิก ชาวราศีนี้เป็นราศีที่น่าชื่นชม เพราะคุณเป็นคนที่หลงใหล และเต็มที่กับ
        สิ่งที่คุณกำลังทำเป็นอย่างมาก เรียกว่า ทุ่มหมด มีร้อยให้ร้อย และด้วยบุคลิกลักษณะนี้ 
        ของคุณ จึงเข้ากับห้อง สีแดง เป็นอย่างมาก เพราะสีนี้จะแสดงออกถึงความมุ่งมั่น เด็ดเดี่ยว 
        และการเป็นที่ยอมรับจากทุกๆ คน
      </div>
    </div>
    <div class="border11"></div>

    <img src="./image/Sagittarius.jpg" class="img12">
    <div class="textbox-12">
      <div class="textbox-12-1">SAGITTARIUS
        ราศีธนู</div>
      <div class="textbox-12-2">       ชาวราศีธนู เปรียบเสมือนมันสมองของกลุ่มเลยก็ว่าได้ เพราะไม่ว่าจะเป็นความคิด คำพูดคำจา ชาวราศีนี้ก็ดูมีความรู้ไปเสียหมด และด้วยบุคลิกทั่วไปของชาวราศีธนู ที่เป็นคนที่มีพลังงานเหลือล้น พร้อมพุ่งชนสิ่งต่างๆ ไม่ให้เหลือซาก ฉะนั้นจึงควรใช้ สีน้ำตาลช็อคโกแลต มาเบรกความบ้าพลังของคนราศีนี้ลงเสียบ้าง เผื่อว่าอะไรๆ จะง่ายขึ้น ซึ่งการใช้สีน้ำตาลช็อคโกแลตตกแต่งห้อง จะส่งผลให้ผู้อยู่อาศัยรู้สึกสงบขึ้นได้ในระดับหนึ่ง
      </div>
    </div>
    <div class="border12"></div>

    <div class="p2-bg4"></div>

  </div></body>
</html>